@import 'null-lending.scss';

html {
	font-size: 18px;
}

body {
	overflow-x: hidden;
	letter-spacing: 2.2px;
	min-height: 100%;
	font-family: 'EBGaramond-Regular';
	// font-family: 'SortsMillGoudy-Regular';
}

.wraper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
header {

}


$height-header: 110vh;
.header-main {
	position: relative;
	min-height: $height-header;
}
.header__top-line {
	display: flex;
	// color: #fff;
	position: relative;
	z-index: 20;
	background-color: #fff;
	justify-content: space-between;
	height: 70px;
	padding: 0 50px;
}
.header__logo {
	height: 80%;
	min-width: 55px;
	align-self: center;
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}
.header__nav {
	display: flex;
	font-size: 17px;
	align-items: center;
	ul {
		display: flex;
		align-items: center;
	}
	li {
		padding: 5px 10px;
		margin-right: 17px;
		white-space: nowrap;
		letter-spacing: 3px;
	}
}
.header_banner0 {
	position: absolute;
	transition-duration: 300ms;
	top: 0;
	width: 100%;
	background-size: cover;
	height: 100%;
	overflow: hidden;
}

.banner-0 {
	background: url('../../img/main-baner-img.webp') 0 0 / auto 100% no-repeat;
	background-size: cover;
}
.banner-1 {
	background: url('../../img/main-baner4-img.webp') 0 0 / auto 100% no-repeat;
	background-size: cover;
}
.banner-2 {
	background: url('../../img/main-baner3-img.webp') 0 0 / auto 100% no-repeat;
	background-size: cover;
}

.banner-none {
	opacity: 0;
	visibility: hidden;
}
.stocks__cost {
	font-size: 1.3rem;
}

.header__info-banner-wrap {
	display: flex;
	position: relative;
	align-self: center;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: $height-header;
}
.header__info-banner {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 50%;
	min-height: 60%;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 0 30px;
	margin: 0 auto 0 100px;
}
.header__info-title {
	font-size: 2rem;
}
.header__info-middle {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.header__subtitle {
	width: 80%;
	font-size: 19px;
}
.header__list-choise {
	margin-top: 20px;
	ul {
		display: flex;
		flex-wrap: wrap;
	}
	li {
		padding: 5px 12px;
		margin-top: 15px;
		font-size: 17px;
		margin-right: 10px;
		background-color: rgba(255, 255, 255, 0.2);
		border-radius: 8px;
	}
}
.header__choise {
	white-space: nowrap;
	li {
		cursor: pointer;
		font-size: 15px;
		&:hover {
			background-color: rgba(0, 0, 0, 0.5);
		}
	}
}

.showImages {
	animation: showImage ease 2s forwards 1s;
}


.header__button {
	margin: 25px 0;
	a {
		font-size: 1.2em;
		display: inline-block;
		background-color: #fff;
		color: #000;
		padding: 8px 15px;
		border-radius: 3px 18px;
		letter-spacing: 1.5px;
		transition-duration: 200ms;
	&:hover {
		transform: scale(1.03);
	} 
	}
}
main {
	padding-top: 60px;
	flex: 1 0 50vh;
}
.main__conteiner-warranty {
	position: relative;
	display: flex;
	align-items: center;
	width: 95%;
	min-height: 100vh;
	margin: 0 auto;
}
.main__warranty {
	width: 100%;
	height: 100%;
}
.main__backg-img {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: url('../../img/img2.webp') 0 0 / 100% 100% no-repeat;
	background-size: cover;
}
.main__warranty-block {
	position: relative;
	width: 100%;
	height: 100%;
}
.main__warranty-title {
	font-size: 2.2rem;
	letter-spacing: 5px;
	width: 70%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 20px;
}
.main__warranty-bottom {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
}
.main__warranty-wraper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 15px;
	height: 90%;
	width: 45%;
	margin: 0 auto;
}
.warranty_elem {
	display: flex;
	align-items: center;
	background-color: rgba(255, 2555, 255, 0.85);
	width: 100%;
	height: 100%;
	margin: 10px 20px 0 0;
}
.warranty__conteiner {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	width: 90%;
	height: 85%;
	margin: 0 auto;
}
.warranty__title {
	font-size: 1.3rem;
}
.warranty__content {
	font-size: 1.1rem;
	padding-bottom: 15px;
}
.main__conteiner-news-spec {
	padding-top: 60px;
	width: 85%;
	margin: 0 auto;
}
.main__hear-newmodel {
	padding: 100px 0;
	display: flex;
	height: 100%;
}
.main__hear-newmodel-info {
	width: 40%;
	padding: 10px 20px;
}
.main__hear-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.main__hear-title {
	font-size: 2.3rem;
}
.main__hear-infoblock {
	display: flex;
	min-height: 50%;
	flex-direction: column;
	justify-content: space-between;
}
.warranty__title {
	text-decoration: underline 1px #393939;
}
.main__hear-text {
	width: 90%;
	font-size: 1.1rem;
}
.main__hear-button {
	margin: 25px 0;
	a {	
		color: #fff;
		display: inline-block;
		border-radius: 3px 18px;
		background-color: #212020;
		padding: 10px 25px;
		transition-duration: 200ms;
	&:hover {
		transform: scale(1.03);
	} 
	}
}
.main__hear-img {
	position: relative;
	align-self: center;
	width: 60%;
	height: 100%;
	&::before {
			content: '';
			position: absolute;
			height: 100%;
			background-color: #fff;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
		}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}	
}


.show-images {
		&::before {
			content: '';
			position: absolute;
			height: 100%;
			background-color: #fff;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			animation: show-img 1200ms ease forwards 150ms;
		}
}

.main__credit {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	min-height: 400px;
}
.main__credit-backg {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;		
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}
.main__credit-wrap {
	position: relative;
	color: #fff;
	width: 85%;
	height: 60%;
	padding: 25px 35px;
	background-color: rgba(0, 0, 0, 0.8);;
	margin: 0 auto;
}
.main__credit-title {
	font-size: 2.5rem;
}
.main__credit-infoblock {
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
}
.main__credit-text {
	font-size: 1.3rem;
	padding-right: 15px;
}
.main__credit-button {
	margin-bottom: 15px;
		a {	
		color: #000;
		display: inline-block;
		border-radius: 3px 18px;
		background-color: #fff;
		padding: 6px 20px;
		transition-duration: 200ms;
		&:hover {
		transform: scale(1.03);
	} 
	}
}
.main__special {
	display: flex;
	width: 100%;
	padding-top: 7px;
	padding: 100px 0;
}
.main__spec-img {
	position: relative;
	align-self: center;
	width: 60%;
	height: 0%;
	&::before {
			content: '';
			position: absolute;
			height: 100%;
			background-color: #fff;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
		}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.main__spec-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;

}
.main__spec-title {
	font-size: 2.5rem;
}
.main__spec-infoblock {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 50%;

}
.main__spec-text {
	font-size: 1.1rem;
}
.main__spec-button {
	align-content: flex-end;
	margin-top: 25px;
	a {	
		color: #fff;
		display: inline-block;
		border-radius: 3px 18px;
		background-color: #212020;
		padding: 10px 25px;
		transition-duration: 200ms;
	&:hover {
		transform: scale(1.03);
	} 
	}
}
.main__hear-spec-info {
	width: 40%;
	padding: 20px 30px;
}
.main__stocks {
	display: flex;
	padding: 60px 0;
	align-items: center;
	width: 100%;
}
.main__stocks-wraper {
	width: 90%;
	height: 100%;
	margin: 0 auto;
}
.main__stocks-top {
	text-align: center;
}
.main__stocks-title {
	font-size: 2rem;
}
.main__stocks-subtitle {
	font-size: 1.5rem;
	margin-top: 25px;
}
.main__stocks-bottom {
	display: flex;
	height: 80%;
	width: 100%;	
	margin-top: 35px;	
}
.stocks-elem {
	position: relative;
	width: 25%;
	text-align: center;
	height: 100%;
}

.stocks__img {
	position: relative;
	overflow: hidden;
	width: 100%;
	max-height: 50%;
	img {
		position: relative;
		width: 100%;
		height: 100%;
		object-fit: cover;
}
}
.stocks__elem-info-wrap {
	display: flex;
	height: 50%;	
	flex-direction: column;
	justify-content: space-evenly;
}
.stocks__title {
	font-weight: 600;
}
.stocks__cost {
	font-size: 1.2rem;
}
.stocks__gift {
	p {
		margin-top: 15px;
		font-size: 19px;
	}
}
.date-gift {
	font-size: 18px;
}
.main__advantage {
	display: flex;
	align-items: center;
	position: relative;
	min-height: 100vh;
	width: 100%;
	margin: 40px 0;
}
.main-advantage__backgr {
	position: absolute;
	background: url('../../img/main-baner0-img.webp') 0 0 / 100% 100% no-repeat;
	background-size: cover;
	opacity: 0.75;
	width: 100%;
	height: 100%;
}
.main__advantage-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 80%;
	height: 80%;
	margin: 0 auto;
	padding: 25px 50px;
}	
.main__advantage-title {
	font-size: 2rem;
	background-color: #F2F1F1;
	padding: 2px 10px;
	margin-bottom: 15px;
	text-align: center;
}
.main__advantage-content {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 90%;
	padding: 20px 0;
}
.main__advantage-left {
	display: flex;
	width: 60%;
	height: 100%;
	color: #DFDFDF;
	padding: 0 40px;
	background-color: rgba(0, 0, 0, 0.8);
	flex-direction: column;
	justify-content: space-between;
}
.main__advantage-elem {
	flex-grow: 1;
}
.main__elems-title {
	text-align: center;
	font-size: 1.7rem;
	padding: 5px 0;
}
.main__form-right {
	color: #DFDFDF;
	display: flex;
	justify-content: center;
	width: 30%;
	background-color: rgba(0, 0, 0, 0.8);
}
.main__advantage-elem-text {
	margin: 15px 0;
	font-size: 17px;
}
.main__forms-wrap {
	display: flex;
	padding: 0 40px;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.main__forms-title {
	text-align: center;
	font-size: 1.6rem;
	padding: 15px 0;
}
.main__forms {
	flex-grow: 1;
	height: 100%;
	form{
		padding: 0 20px;
		display: flex;
		height: 100%;
	    flex-direction: column;	
	    justify-content: space-evenly;

	}
	input {
		height: 30px;
		color: #DFDFDF;
		font-size: 14px;
		padding-left: 10px;
		background-color: transparent;
		border-bottom: 1px solid #DFDFDF;
		&:focus {
			outline: none;
		}
	}
}
.input-name {
}
.input-email {
}
.input-tel {
}
.input-button { 
	border-radius: 4px;
	background-color: #DFDFDF !important;
	height: 35px !important;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 10px;
	padding-left: unset !important;
	cursor: pointer;
	font-weight: 600;
	border-bottom: none !important;
	color: #000 !important;
	&:hover {
		background-color: #ECEBEB !important;
	}
}
.main__soc-media {
	padding: 40px 0;
}
.main__soc-media-wrap {
	width: 60%;
	margin: 0 auto;
}
.main__soc-media-title {
	text-align: center;
	font-size: 23px;
	margin: 18px 0;
}
.main__soc-media-logo {
	ul {
		display: flex;
	}
	li {
		cursor: pointer;
		padding: 5px;
		margin: auto;
	}
}
footer {

}
.footer-wraper {
	height: 100%;
	width: 100%;
}
.footer__top-line {
	display: flex;
	width: 80%;
	margin: 0 auto;
	justify-content: center;
	ul {
		width: 100%;
		display: flex;
	}
	li {
		font-size: 18px;
		cursor: pointer;
		margin: auto;
	}
}
.footer__logo {
	text-align: center;
	margin-top: 20px;
	border-top: solid 1px #D8D8D8;
	img {
		width: 250px;
	}
}

@keyframes show-img {
	0%{
		height: 100%;
	}
	100%{
		height: 0%;
	}
}

.main__collection-wraper {
	width: 85%;
	height: 100%;
	margin: 0 auto; 
}
.main__models-list {
	width: 100%;
}
.main__models-list-top {
	height: 10%;
	text-align: center;
	margin-bottom: 20px;
}
.main__list-title {
	font-size: 32px;
	padding-bottom: 20px;
}
.main__models-list-subtitle {
	font-size: 22px;
}
.main__list-collecton {

}
.main__row-collection {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 0;
	justify-content: space-between;
}
.card-car {

	width: 30%;
	text-align: center;
	margin: 0 15px 15px 0;
}
.card-car__img {
	width: 100%;
	cursor: pointer;
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.card-car__title {
	white-space: nowrap;
	cursor: pointer;
	font-weight: 600;
	font-size: 18px;
	margin: 17px 0;

}
.card-car__bottom {
}
.car-car__description {
	max-height: 250px;
	font-size: 1.05rem;
	display: -webkit-box;
	-webkit-line-clamp: 8; // количество строк
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.card-car__cost-car {
	font-size: 20px;
	margin: 20px 0;
}
.card-cost__button {
	margin-bottom: 20px;
	a {
		display: inline-block;
		font-size: 18px;
		color: #fff;
		background-color: #202020;
		padding: 8px 15px;
		&:hover {
			background-color: #2D2D2D;
		}
	}
}
.header__top-line--black {
	color: #F5F5F5;
	background-color: rgba(0, 0, 0, 0.85);
}

.footer-models {
	padding-top: 40px;
}
.main__photo-images {
	display: flex;
	flex-wrap: wrap;
}
.image-gallary {
		position: relative;
	width: 33.333%;
	height: auto;
			&:hover {
			&::before {
			content: ' ';
			display: inline-block;
			position: absolute;
			z-index: 888;
			width: 100%;
			height: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: rgba(9, 9, 9, 0.3);
			transition-duration: 700ms;
			}
	}
		&::before {
			content: ' ';
			display: inline-block;
			position: absolute;
			z-index: 888;
			width: 0;
			height: 0;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #525252;
		}
}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
}

.main__test-drive-wraper {
	display: flex;
	width: 90%;
	margin: 0 auto;
	height: auto;
	padding: 40px 0;
}
.main__test-drive-left-wrap {
	align-self: center;
	width: 45%;
}
.main__test-drive-base {
	width: 75%;
	margin: 0 auto;
}
.main__test-drive-forms {
}
.form-test-drive {
	display: flex;
	flex-direction: column;
	label {
		margin-bottom: 10px;
		font-size: 1.1rem;
	}
	input {
		outline: 1px solid gray;
		height: 35px;
		margin-bottom: 10px;
		padding-left: 15px;
		font-size: 15px;
	}
}
.test-drive__button {
	font-size: 1rem;
	color: #EFEFEF;
	background-color: #202020;
	margin: 20px 0;
	letter-spacing: 2.5px;
	height: 45px;
	&:hover {
		background-color: #323232;
	}

}
.main__test-drive-right {
	width: 55%;
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition-duration: 1s;
		&:hover {
			transform: scale(1.05);
		}
	}
}

.main__contacts-wraper {
	width: 80%;
	margin: 0 auto;
}
.main__contacts-top {
}
.main__contacts-title {
}
.main__contacts-base {
}
.main__graph {
}
.graph__title {
	font-size: 25px;
	margin-bottom: 20px;
}
.graph__middle-text {
	font-size: 1.1rem;
	span {
		display: block;
	}
}
.main__contacts-map {
	margin: 30px 0;
	width: 100%;
}
.main__about-company {
	width: 85%;
	margin: 0 auto;
}
.main__list-title {
}
.main__about-text {
	font-size: 19px;
	height: auto;
}
.main__ablot-text1 {
	padding-bottom: 30px;
	border-bottom: solid 1px #D7D7D7;
}
.main__ablot-text2 {
	display: flex;
	margin: 20px 0;
}
.main__text-img {
	float: right;
	padding: 15px 3% 15px 0;
	width: 50%;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.main__text-right {
	width: 48%;
}
.main__ablot-text3 {
	padding-top: 30px;
	border-top: solid 1px #D7D7D7;
}
.about-subtitle {
	padding: 7px 0;
	font-size: 28px;
}
.header__burger {
	cursor: pointer;
	display: flex;
	display: none;
	padding: 0 20px;
	align-items: center;
}

.header__menu-drop {
	visibility: hidden;
	position: relative;
	position: absolute;
	z-index: 999999;
	box-shadow: 0 0 5px 1px #5B5B5B;
	left: 0;
	background-color: inherit;
	width: 40%;
	transition-duration: 2s;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	
}
.header__nav-drop {
	height: 100%;
	margin: 20px 0;
	padding: 0 40px;

}
.header__list-drop {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 80%;
	li {
		padding: 10px 12px;
		margin: auto 0;
		font-size: 1.3rem;
	}
}
.logo-header-drop {
	height: 10%;
	img {
		height: 100%;
		width: 100%;
		object-fit: contain;
	}
	margin-bottom: 30px !important;
}
.close-icon {
	position: absolute;
	cursor: pointer;
	right: 15px;
	display: inline-block;
	height: 35px;
	text-align: right;
}

.open {
	animation: openMenu 1s ease forwards;
}


@keyframes openMenu {
	0% {
		visibility: visible;
		transform: translateX(-100%);
	}
	100% {
		visibility: visible;
		transform: translateX(0%);
	}
}









@media screen and (max-width: 990px) {
	.header__logo {
		display: none;
	}
	.header__nav {
		margin: 0 auto;
		li {
			padding: 4px 4px;
		}
	}
	.main__warranty-wraper {
		width: auto;
	}
	.header__top-line {
		padding: 0;
	}
	.main__hear-newmodel {
		flex-direction: column; 
	}
	.main__hear-newmodel-info {
		width: 100%;
		padding-left: 0;
	}
	.main__special {
		flex-direction: column;
	}
	.main__hear-img {
		width: 100%;
	}
	.main__spec-img {
		width: 100%;
		order: 2;		
	}
	.main__hear-title {
		padding-bottom: 25px;
	}
	.main__spec-title {
		padding-bottom: 25px;
	}
	.main__hear-spec-info {
		width: 100%;
		order: 1;
		padding-left: 0;
		padding-top: 40px;
	}
	.main__spec-button,
	.main__hear-button {
		margin-top: 50px;
	}
	.main__ablot-text2 {
		flex-direction: column;
	}
	.main__text-right {
		width: 100%;
		margin-top: 30px;
		order: 1;
	}
	.main__text-img {
		width: 100%;
		order: 2;
	}
	.main__models-list-subtitle {
		padding: 10px 0 15px 0;
	}
}




@media screen and (max-width: 800px) {
	.header__nav {
		display: none;
	}
	.main__soc-media-wrap {
		width: 80%;
	}
	.footer__top-line {
		display: none;
	}
	.header__info-banner {
		width: 100%;
		margin: 0 auto; 
		height: 80%;
	}
	.main__stocks-bottom {
		flex-direction: column;
	}
	.stocks-elem {
		display: flex;
		min-width: 100%;
	}
	.stocks__img {
		min-width: 48%;
		margin-right: 2%;
	}
	.stocks__elem-info-wrap {
		align-self: center;
		font-size: 1.1rem;
		min-width: 50%;
		justify-content: space-between;
	}
	.main__advantage-left {
		padding: 0 15px;
	}
	.main__conteiner-news-spec {
		width: 90%;
	}
	.header_banner0 {
		background-position: 30% 0;
	}
	.header__choise {
		ul {
			flex-wrap: wrap;

		}
		li {
			margin-top: 20px;
		}
	}
	.header__burger {
		display: flex;
		padding: 0 20px;
		align-items: center;
	}
	.image-gallary {
		width: 50%;
	}
	.salon-none {
		display: none;
	}
	.main__test-drive-wraper {
		position: relative;
		align-items: center;
	}
	.main__test-drive-right {
		position: absolute;
		width: 100%;
		height: 100%;
		img {
			opacity: 0.95;
		}
	}
	.main__test-drive-left-wrap {
		position: relative;
		z-index: 8;
		width: 100%;
		color: #F2F2F2;
	}
	.main__test-drive-base {
		padding: 10px 25px;
		background-color: rgba(0, 0, 0, 0.6);
	}
	.main__row-collection {
		justify-content: center;
	}
	.card-car {
		width: 46%;
		padding-bottom: 20px;
	}
	.main__ablot-text2,
	.main__ablot-text3 {
		border-top: solid 1px #D7D7D7;
	}
	.main__ablot-text3 {
		padding-top: 40px;
	}
	.main__about-company {
		width: 87%;
	}
	.input-button {
		font-size: 0.70rem !important;
	}
}

@media screen and (max-width: 600px) {
	.main-advantage__backgr {
		background-position: 30% 0;
	}
	.main__advantage-content {
		flex-direction: column;
		padding: 0;
		max-width: 100%;
	}
	.main__advantage-left {
		width: auto;
	}
	.main__form-right {
		width: 100%;
		margin: 20px 0;
	}
	.input-button {
		margin-bottom: 25px;
	}
	.main__forms {
		label {
			margin-top: 10px;
		}
	}
	.main__forms-title {
		padding-bottom: 8px;;
	}
	.main__conteiner-warranty {
		width: 97%;
	}
	.main__warranty-title {
		width: 90%;
	}
	.main__conteiner-warranty {
		min-height: 100vh;
		height: auto;
	}
	.main__conteiner-warranty {
		display: flex;
		align-items: center;
	}
	.main__models-list-subtitle {
		padding: 20px 0;
	}
	.header__menu-drop {
		width: 60%;		
	}
} 


@media screen and (max-width: 480px) {
	.main__advantage-wrap {
		padding: 20px 5px;
		width: 95%;
	}
	.main__spec-title,
	.main__credit-title,
	.main__hear-title {
		font-size: 2rem;
	}
	.main__credit-text {
		font-size: 1.2rem;
	}
	.stocks-elem {
		position: relative;
		height: 300px;
		margin: 5px 0;
	}
	.stocks__img {
		position: absolute;
		width: 100%;
		height: 100%;
		max-width: none;
		max-height: none;
	}
	.stocks__elem-info-wrap {
		position: relative;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.85);
	}
	.main__soc-media-wrap {
		width: 95%;
	}
	.main__hear-newmodel {
		padding-bottom: 30px;
	}
	.main__credit-wrap {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		padding: 0 15px;
	}
	.main__credit-infoblock {
		flex-direction: column;
	}
	.main__credit-button {
		margin-top: 35px;
	}
	.image-gallary {
		width: 100%;
	}
	.card-car {
		width: 97%;
		padding-bottom: 20px;
		margin-right: 0;
	}
	.header__menu-drop {
		width: 100%;		
	}
}

@media screen and (max-width: 390px) {
	.main__warranty-wraper {

	}
	.warranty_elem {
		margin: 0;
	}
	.main__credit-wrap {
		width: 100%;
	}
	.main__warranty-wraper {
		grid-template-columns: 100%;
		grid-template-rows: auto;
	}
	.header__info-banner {
		height: 100%;
	}
	.main__stocks-wraper {
		margin: 0;
		width: 100%;
	}
	.main__conteiner-news-spec {
		width: 95%;
	}
	.main__stocks {
		padding: 25px 0;
	}
	.header__info-banner-wrap {
		height: 110vh;
	}
	.header__info-title {
		text-align: center;
	}
	.header__choise {
		ul {
			justify-content: center;
		}
		li {
			margin-right: 0;
		}
	}
	.header__button {
		margin: 30px auto;
		a {
			border-radius: 0;
		}
	}
	.header__info-banner div {
		margin-left: 0 !important;
	}
	.header__button {
		transform: translateX(10%);
		margin-right: 0 !important;
	}
	.logo-twitter {
	transform: translateX(6px);
}
}

@media screen and (max-height: 900px) {
	.header__info-banner {
		height: 100%;
	}
	.header__info-banner {
		div {
			margin-left: 20px;
		}
	}
	.header__subtitle {
		margin-top: 30px;
	}
	.header__info-title {
		margin-top: 20px;
	}
} 

@media screen and (min-height: 900px) { 
	.main__warranty-wraper {
		grid-template-columns: 100%;
		grid-template-rows: auto;
	}
}

@media (max-height: 450px) and (orientation:landscape) {
	.header-main {
		height: auto;
	}
	.header__info-banner-wrap {
		height: auto;
	}
	.logo-header-drop {
		display: none;
	}
	.header__list-drop {
		height: 96%;
	}
}

