*{padding: 0; margin: 0; border: 0;}
html, body {width: 100%; box-sizing: border-box; font-size: 16px; overflow-x: hidden;}
strong {font-weight: normal;}
button {cursor: pointer;}
a, a:visited {text-decoration: none; color: inherit;}
ul, li {list-style: none;}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: inherit;}
input {color: #917B7B;}

@font-face {
  font-family: 'EBGaramond-Regular';
  src: url("../../fonts/EBGaramond-Regular.eot");
  src: url("../../fonts/EBGaramond-Regular.eot?#iefix") format('embedded-opentype'),
       url("../../fonts/EBGaramond-Regular.ttf") format('truetype'),
       url("../../fonts/EBGaramond-Regular.svg#EBGaramond-Regular") format('svg'),
       url("../../fonts/EBGaramond-Regular.otf") format('otf'),
       url("../../fonts/EBGaramond-Regular.woff") format('woff'),
       url("../../fonts/EBGaramond-Regular.woff2") format('woff2');
}
